[Desktop Entry]
Version=1.0
Type=Application
Name=QueryPod
Comment=Desktop SQL workspace
Exec=/usr/bin/querypod
Icon=me.aalam.querypod
Terminal=false
Categories=Development;Database;
StartupWMClass=me.aalam.querypod
